
.turnRed {
    will-change: auto;
    background-color: burlywood;
    animation: turnSquare 0.5s, turnRed 3s;
    animation-fill-mode: forwards;
  }
.turnGreen {
    background-color: burlywood;
    animation: turnSquare 0.5s, turnGreen 3s;
    animation-fill-mode: forwards;
  }
@keyframes turnRed {
    from {background-color: burlywood;}
    to {background-color: red;}
  }
@keyframes turnSquare {
    from {height: 0vh;}
    to {height: 20vh;}
  }
@keyframes turnGreen {
    from {background-color: burlywood;}
    to {background-color: lightgreen;}
  }
  .exposion {
    background-image: url(img/enemyexplo.png);
  }
  .makeOver {
    animation: gameOver 1s;
    animation-fill-mode: forwards;
  }
  @keyframes gameOver {
    from {  top: -100%;}
    to {  top: 0;}
  }