* {
    margin: 0;
}
body {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    overflow: hidden;
    cursor: none;
    
}
.curs {
    position: fixed;
    width: 100px;
    height: 100px;
    background-image:url(img/cur.svg);
    pointer-events: none;
    z-index: 9999;
}
h1 {
    font-family: 'Luckiest Guy', cursive;
    font-size: 3rem;
}
h2 {
    padding-top: 1rem;
    font-family: 'Luckiest Guy', cursive;
    font-size: 2rem;
}
h2 > span {
    font-size: 5rem;
}
p {
    font-family: 'Luckiest Guy', cursive;
    font-size: 3rem;
}
.action {
    display: block;
    width: 100vw;
    height: 100vh;
    background: burlywood;
   
}
.enemy_window {
    display: block;
    width: 20vh;
    position: absolute;
}
.enemy_window::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -80px;
    width:20vh;
    height: 100px;
    background-image: url(img/baricade.png);
    background-size: cover;
    background-repeat: no-repeat;
    pointer-events: none;
}
#window1 {
    bottom: 60vh;
    left: 10vw;
}
#window2 {
    bottom: 60vh;
    left: 40vw;f
}
#window3 {
    bottom: 60vh;
    left: 70vw;
}
#window4 {
    bottom: 40%;
    left: 30vw;

}
#window5 {
    bottom: 40vh;
    left: 60vw;
}
.enemy {
    will-change: auto;
    background-image: url(img/enemy.png);
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center; 
}
.hostage {
    background-image: url(img/hostage.jpg);
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center; 
}
.kill {
    background-image: url(img/explo.png);
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center; 
}
.gameOver {
    color: white;
    display: block;
    position: absolute;
    border-radius: 20px;
    top: -100%;
    left: 10%;
    width: 80%;
    height: 80%;
    background-color: red;
    display: flex;
    flex-direction: column;
  align-items: center;
  justify-content: center
}
.restart {
    display: block;
    padding: 12px;
    background-color: black;
    margin-top: 2rem;
    border-radius: 12px;
}
.restart:hover {
    background-color: white;
    color: red;
}